<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Insert title here</title>
    <link th:href="@{/fontawaresome/all.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/styletemplage.css}" rel="stylesheet"/>
    <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/jquery/jquery.twbsPagination.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
</head>
<body sb-nav-fixed>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3 fw-bold" href="/AssignmentGeneral/home">
            <i class="fa-solid fa-bolt me-3"></i>Manage System
        </a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!-- Your search form if needed -->
        </form>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item fw-bold" th:href="@{/member/edit}">
                            <i class="fas fa-user fa-fw"></i>User profile
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item fw-bold" th:href="@{/logout}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

