<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:form="http://www.thymeleaf.org">

<head>
<title th:text="#{title.createmay}"></title>
</head>
	<div th:replace="html/header"></div>
<body>
	<div id="layoutSidenav">
		<div th:replace="html/sidebar"></div>
		<div id="layoutSidenav_content">
			<main class="p-4">
				<div class="row border m-1 pb-2 rounded-top">
					<div class="bg-secondary p-2 text-light rounded-top">
						<h1 class="border-bottom" th:text="#{title.createmay}"></h1>
					</div>
					<div class="col-8">
						<form th:action="@{/add/may}" th:object="${model}" method="post"
							id="register-form">
							<div class="form-group mb-3">
								<label for="maMay" class="form-label fw-bold" th:text="#{form.maMay}"></label> <input
									type="text" class="form-control" th:field="*{{maMay}}"
									th:placeholder="#{form.placeholder.maMay}" id="maMay" th:disabled="${disable}" />
								<div th:errors="*{maMay}" class="error-entity"></div>
								<div class="error"></div>
							</div>
							<div class="form-group mb-3">
								<label for="viTri" class="form-label fw-bold" th:text="#{form.position}"></label> <input
									type="text" class="form-control" th:field="*{viTri}"
									th:placeholder="#{form.placeholder.position}" id="viTri" value="" />
								<div th:errors="*{viTri}" class="error-entity"></div>
								<div class="error"></div>
							</div>
							<div class="form-group mb-3">
								<label for="trangThai" class="form-label fw-bold" th:text="#{form.status}"></label> <input type="text" class="form-control"
									th:field="*{trangThai}" th:placeholder="#{form.placeholder.position}"
									id="trangThai" value="" />
								<div th:errors="*{trangThai}" class="error-entity"></div>
								<div class="error"></div>
							</div>
							<input type="hidden" name="page" th:value="${page}" />
							<div>
								<button id="btn-add" type="submit"
									class="btn btn-outline-secondary" th:text="#{btn.submit}"></button>
								<button id="btn-reset" type="reset"
									class="btn btn-outline-secondary" th:text="#{btn.reset}"></button>
							</div>
						</form>
					</div>
					<div class="col-4"></div>
				</div>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Ducreal 2023</div>
						<div>
							<a href="#">Privacy Policy</a> &middot; <a href="#">Terms
								&amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script th:inline="javascript">
		let error = [
	{ index: 1, message: /*[[#{error.required}]]*/'', regex: /^M\d{3}$/ },
	{ index: 2, message: /*[[#{error.required}]]*/'', regex: /^[a-zA-Z]/ },
	{ index: 3, message: /*[[#{error.required}]]*/'', regex: /^[a-zA-Z]/ },
];
	</script>
	<script th:src="@{/js/add/errorHandle.js}"
		type="text/javascript">
		document.title = "Tạo mới máy"
	</script>
	<script
		th:src="|https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js|"></script>
	<script th:src="@{/js/script.js}"></script>
</body>

</html>