<div id="layoutSidenav_nav" th:fragment="sidenav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
          <div class="nav">
              <!-- Uncomment the form if needed -->
              <!--
              <form class="d-none d-md-inline-block form-inline ms-auto ms-md-3 me-0 me-md-3 my-2 my-md-0">
                  <div class="input-group">
                      <input type="hidden" name="action" value="search" />
                      <input class="form-control" type="text" placeholder="Search for..."
                             aria-label="Search for..." aria-describedby="btnNavbarSearch" name="title"/>
                      <button class="btn btn-secondary" id="btnNavbarSearch" type="button">
                          <i class="fas fa-search"></i>
                      </button>
                  </div>
              </form>
              -->
              <a class="nav-link" th:href="@{/AssignmentGeneral/add/may}">
                  <div class="sb-nav-link-icon">
                      <i class="fa-solid fa-shuttle-space"></i>
                  </div> Tạo mới máy
              </a>
              <a class="nav-link" th:href="@{/AssignmentGeneral/add/khachhang}">
                  <div class="sb-nav-link-icon">
                      <i class="fa-solid fa-user"></i>
                  </div> Tạo mới khách hàng
              </a>
              <a class="nav-link" th:href="@{/AssignmentGeneral/add/dichvu}">
                  <div class="sb-nav-link-icon">
                      <i class="fa-brands fa-servicestack"></i>
                  </div> Tạo mới dịch vụ
              </a>
              <a class="nav-link" th:href="@{/AssignmentGeneral/list/may?page=1&limit=3}">
                  <div class="sb-nav-link-icon">
                      <i class="fas fa-table"></i>
                  </div> Danh sách máy
              </a>
              <a class="nav-link" th:href="@{/AssignmentGeneral/list/khachhang?page=1&limit=3}">
                  <div class="sb-nav-link-icon">
                      <i class="fa-solid fa-users"></i>
                  </div> Danh sách khách hàng
              </a>
              <a class="nav-link" th:href="@{/AssignmentGeneral/list/dichvu?page=1&limit=3}">
                  <div class="sb-nav-link-icon">
                      <i class="fas fa-table"></i>
                  </div> Danh sách dịch vụ
              </a>
              <a class="nav-link" th:href="@{/AssignmentGeneral/add/sudungmay}">
                  <div class="sb-nav-link-icon">
                      <i class="fas fa-table"></i>
                  </div> Đăng ký sử dụng máy
              </a>
              <a class="nav-link" th:href="@{/AssignmentGeneral/add/sudungdichvu}">
                  <div class="sb-nav-link-icon">
                      <i class="fas fa-table"></i>
                  </div> Đăng kí dùng dịch vụ
              </a>
              <a class="nav-link" th:href="@{/AssignmentGeneral/list/thongtinkhachhang?page=1&limit=3}">
                  <div class="sb-nav-link-icon">
                      <i class="fa-solid fa-circle-info"></i>
                  </div> Thông tin sử dụng
              </a>
          </div>
      </div>
      <div class="sb-sidenav-footer">
          <div class="small">Logged in as:</div>
          <div class="nav-item d-flex ">
              <!-- Add any additional footer content here -->
          </div>
      </div>
  </nav>
</div>
